@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import "syntax-highlighting";

html,
body,
:root {
  --handydocs-font-family: var(--font-sans), sans-serif;
}

#hero {
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

#content {
  > * {
    border-radius: var(--chakra-radii-md);
  }
  img,
  pre {
    border-radius: var(--chakra-radii-md);
  }
  img {
    box-shadow: var(--chakra-shadows-sm);
  }
  pre {
    box-shadow: var(--chakra-shadows-xs);
  }
}

*:not(pre) > code {
  font-size: 0.9rem;
  margin: 0 0.1rem;
  padding: 0.1rem 0.2rem;
  border-radius: var(--chakra-radii-md);
  box-shadow: var(--chakra-shadows-xs);
}

body.chakra-ui-light *:not(pre) > code {
  background: #fafafa;
}

body.chakra-ui-dark *:not(pre) > code {
  background: #282c34;
}
